#ninja-listing{margin: 0; padding: 0;}
#ninja-listing li{list-style-type: none; margin: 10px 0;}
#type{
 width:150px;
}

.blue {background-color: MediumTurquoise;}
.purple {background-color: SlateBlue;}
.yellow {background-color: Khaki ;}
.green {background-color: DarkSeaGreen;}
